.skeleton {
    position: relative;
    overflow: hidden;
    background-color: grey;
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient(
            90deg,
            rgba(rgb(237, 237, 237), 0) 0,
            rgba(rgb(237, 237, 237), 0.2) 20%,
            rgba(rgb(237, 237, 237), 0.5) 60%,
            rgba(rgb(237, 237, 237), 0)
        );
        animation: shimmer 2s infinite;
        content: "";
    }
    @keyframes shimmer {
        100% {
            transform: translateX(100%);
        }
    }
}