@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

*:root{
    --primary-color : rgb(17,24,39) ;
    --secondary-color : #baced9 ;
}
*{
    font-family: 'Poppins' , Poppins !important;
    overflow: none ;
}
.lazy-load-image-background.image-ful img{
    width : full ;
}

body{
    width : 100% ;
    position: relative;
}

.main{
    letter-spacing: 2px ;
}
@media (max-width:356px) {
    .ssm-center{
        justify-content: center;
    }
}